canvas.wapuu-creator {
    border: 1px solid black;
    display: block;
    height: 75vh;
    width: 100%;

}

.asset-types {
    a {
        display: block;
        margin: 5px 0;
    }
}

.asset-library {
    padding-bottom: 20px;
    padding-top: 20px;

    img {
        display: inline-block;
        width: 24%;
    }
}